html{
font-size: 14px;
}
@media (min-width: 1200px) {
    .html{
        font-size: 16px;
    }
}

body {
    font-family: Roboto ,sans-serif;
    background-color: #021227;
    color: #cccccc;
}

header{
    .container {
        background-color: #021227;
        max-width: 1280px; 
        margin-left: auto;
        margin-right: auto;
        padding-left: 16px; 
        padding-right: 16px; 
        padding-top: 24px; 
        padding-bottom: 24px; 
      }
      
}

.ul{
    font-family: 'Roboto Mono',monospace;
    display: flex;
    justify-content:space-around;
    font-weight: 600;
}
.li:hover{
    background-color: #247032;
}

.middlearea{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    background-color: #021227;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:640px){
    .middlearea{
        flex-direction: row;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

@media (min-width:1024px){
    .middlearea{
        min-height: 100vh;
    }
}

.para{
    font-family: 'Roboto Mono',monospace;
    font-weight: 600;
    color: #309543;
    display: flex;
    flex-direction: column;
    font-size: 55px;
}

.beyaz{
    font-family: 'Roboto Mono',monospace;
    font-weight: 600;
    margin-top: 1.5rem; 
    max-width: 28rem; 
    color: #cccccc; 
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.baslik{
    display: flex;
    flex-direction: column;
    font-size: 45px;
    line-height: 1;
    font-weight: 700;
    margin-top: 1.75rem;

}

.kucuk{
    display: flex;
    flex-direction: column;
    font-size: 35px;
    line-height: 1;
    font-weight: 700;
    margin-top: 1.75rem;
}
.paratutan{
    display: flex;
    flex-direction: column;
}

.iscagrısı{
    font-family: 'Roboto Mono',monospace;
    font-weight: 700;
    color: #309543;
}

.yetenekbutonu
{
    margin-top: 1rem;
    padding-left: 1rem; 
    padding-right: 1rem; 
    padding-top: 0.75rem; 
    padding-bottom: 0.75rem; 
    border-width: 2px; 
    border-color: #309543; 
    border-style: solid; 
    transition: all 0.3s ease; 
    border-radius: 0.375rem; 
    width: 200px;
    display: flex;
    justify-content: center;
}

.yetenekbutonu:hover {
    background-color: rgba(48, 149, 67, 0.2); 
}

.yetenekbutonu a{
    font-family: 'Roboto',monospace;
    color: #309543;
    font-weight: bold;
    text-decoration: none;
}

.marginlik{
    margin-top: 2rem;
}

.resimcikler{
    display: flex;
    gap: 1rem;
}

.icons{
    margin-top: 3rem;
}

.icons ul{
    display: flex;
    list-style: none;
    gap: 1rem;
    padding-left: 0;
}

.icons ul li a{
    color: #cccccc;
    transition: color 0.15s ease;
}

.icons ul li a:hover{
    color: #309543;
}

.social-icon{
    width: 35px;
    height: 35px;
}


.rightside {
    display: none;
}


@media (min-width: 640px) {
    .rightside {
        display: block; 
    }

    .rightside {
        width: 40%; 
    }
}

.techstack{
    background-color: #021227;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 640px) {
    .techstack {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.techline{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-bottom: 3rem;
}

.stick{
    height: 1px;
    flex: 1;
    background-color: #309543;
    display: none;
}

@media (min-width: 640px) {
    .stick {
        display: block; 
    }
}

.writing{
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.Yetenekler{
    font-family:'Roboto Mono',monospace ;
    gap: 3rem;
    display: grid;
    grid-template-columns: repeat(5,minmax(0,1fr));
}

@media (max-width: 639px) {
    .Yetenekler {
        grid-template-columns: repeat(3, minmax(0, 1fr)); 
    }
}

.Yetenek{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.Yetenekboyutu{
    width: 6rem;
    height: 6rem;
}

.YetenekYazı{
    font-weight: 600;
    color: #cccccc;
}

.Projeler{
    background-color: #021227;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 640px) {
    .Projeler {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
}



.Proje{
    display: flex;
    margin-top: 5rem;
    justify-content: center;
}



.Tutamac {
    display: flex;
    width: 100%; 
    flex-wrap: wrap; 
    flex-direction: row;  
}

@media (min-width: 320px) {
    .Tutamac{
    width: 1440px; 
}
}

@media (min-width: 768px) {
    .Tutamac {
        width: 1440px; 
        display: flex;
        flex-wrap: nowrap; 
        flex-direction: none;
    }
}

.mockup-window {
    border: 1px solid #d1d5db; 
    height: 300px; 
    order: 2;
    position: relative;
}
.mockup-window::before{
    content: "";
    height: .75rem;
    width: .75rem;
    opacity: .3;
    border-radius: 9999px;
    margin-bottom: 1rem;
    display: block;
    box-shadow: 1.4em 0, 2.8em 0, 4.2em 0;
}
@media (min-width: 640px) {
    .mockup-window {
        width: 50%; 
        order: 0; 
    }
}

.featured-project-img-01-div {
    cursor: all-scroll; 
    overflow: hidden; 
    height: 300px; 
    border-radius: 0.375rem; 
}
.featured-project-img-01 img {
    cursor: all-scroll; 
    overflow: hidden; 
    height: 300px; 
    border-radius: 0.375rem;
    object-fit: cover; /* Changed from fill to cover */
    width: 100%; /* Changed from -webkit-fill-available to 100% */
}
.featured-project-img-01 {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    position: relative;
}
.featured-project-img-01::before{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    background-image: linear-gradient(to bottom, rgba(2, 22, 49, 0.5), rgba(2, 22, 48, 0.5));
    transition: all 1s ease-in-out;
}

.rightitems{
    width: 100%; 
    height: 300px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    order: 1;    
}

@media (min-width: 640px) {
    .rightitems
    {width: 50%;
    order: 0;}

}

.project01{
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
    margin-bottom: 2rem;
}

@media (min-width: 640px) {
    .project01{
    text-align: end; 
    position: relative; 
    right: 10%; 
    }
}

@media (min-width: 1024px) {
    .project01{
    right: 25%; 
    }
}

.para01 {
    background-color: #051830; 
    padding-left: 2rem; 
    padding-right: 0.5rem; 
    padding-top: 1rem; 
    padding-bottom: 1rem; 
    margin-bottom: 0.5rem; 
    border-radius: 0.375rem; 
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.47); 
}
@media (min-width: 640px) {
    .para01{
    position: relative; 
    right: 10%; 
    }
}

@media (min-width: 1024px) {
    .para01{
    right: 25%;
    } 
}

.Diller{
    font-family: 'Roboto Mono',monospace;
}

    @media (min-width: 640px) {
        .Diller{
        position: relative; 
        right: 10%; 
        }
    }

    @media (min-width: 1024px) {
        .Diller{
        right: 25%; 
        }
    }
    
    .liste2 {
        display: flex; 
        gap: 1rem; 
        font-size: 0.875rem; /
    }
    
    @media (min-width: 640px) {
        .liste2{
        justify-content: flex-end; 
        }
    }
    
    .ikonlar2 {
        display: flex; 
        gap: 1rem; 
        margin-top: 0.5rem; 
        font-size: 0.875rem; 
    }

    @media (min-width: 640px) {
        .ikonlar2{
        justify-content: flex-end; 
        position: relative; 
        right: 10%; 
        }
    }

    @media (min-width: 1024px) {
        .ikonlar2{
        right: 25%; 
        }
    }
    
    .linkdüzenleyici{
        width: 2.25rem;
        height: 2.25rem;
    }

    .projeikon {
        width: 2rem; 
        height: 2rem; 
        transition: all 0.3s ease; 
    }
    
    .projeikon:hover {
        color: #309543; 
    }
    
    
    

