body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

.top-bar {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    display: flex;
    padding-left: 200px;
    
}

.musteri-hizmetleri {
    padding-left: 30px;
    color: 	#666666;
}

.bayrak{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.minibar{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: -4px;
    right: 100px;
    gap: 20px;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
}

.minibar a {
    text-decoration: none; 
    color: 	#666666;
}

.logo-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.logo {
    max-width: 150px;
}

.search-box {
    flex-grow: 1;
    padding: 10px;
    margin-left: 20px;
    font-size: 16px;
    border: none;
}

.search-button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color:#666666 ;
    color: white;
    border: none;
    cursor: pointer;
}

.main-nav {
    background-color:#f1f1f1;
    text-align: center;
    padding: 10px 0;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.main-nav ul li {
    margin: 0 10px;
    list-style-type: none;
}

.main-nav a {
    color: #666666;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
}

.main-nav a:hover {
    color: #fd6905;
}

.breadcrumb {
    padding: 15px;
    font-size: 14px;
    background-color: white;
    margin: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-family: 'Arial', sans-serif; 
    color: #2C3E50;
    gap: 5px; 
}

.breadcrumb a {
    text-decoration: none; 
    color:#666666; 
    font-family: 'Georgia', serif; 
}

.breadcrumb i {
    margin-right: 8px; 
    color:#666666; 
}

.contact-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    margin: 20px;
}

.contact-info, .contact-form {
    width: 48%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info h2, .contact-form h2 {
    color:#fd6905;
    border-bottom: 2px solid #e74c3c;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.contact-info table {
    width: 100%;
    border-collapse: collapse;
}

.contact-info td {
    padding: 10px 0;
    font-size: 14px;
}

.contact-info td:first-child {
    font-weight: bold;
    width: 30%;
}

.contact-info a {
    color: 	#666666;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-form {
    box-shadow: #E74C3C;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    margin: 0 auto;
    background-color: #f9f9f9;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input,
.contact-form select {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form .error-message {
    color: red;
    font-size: 0.9em;
    margin-bottom: 10px;
    display: none;
}

.submit-button{
    width: 100%;
    padding: 20px 60px;
    background-color:#fd6905;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #e55d04;
}

.reset-button{
    width: 100%;
    padding: 20px 60px;
    background-color:#2c2a28;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.reset-button:hover {
    background-color: #1f1e1c;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input, .contact-form select, .contact-form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
    
}

.phone-input {
    display: flex;
    align-items: center;
}

.phone-input .country-code {
    background-color: #ccc;
    padding: 10px;
    margin-right: 5px;
    position: relative;
    top: -6px;
}

.message{
    border-radius: 5px;
}

.security-code {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.security-code label {
    flex-grow: 1;
}

.security-code input {
    margin-right: 5px;
}

.form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.politics {
    margin-bottom: 10px;
    text-align: center;
}
.form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.politics {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
}

.politics input[type="checkbox"] {
    margin-right: 10px;
    position: relative;
    top: 2px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}


.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

input.invalid {
    border: 2px solid red;
}

input.valid {
    border: 2px solid green;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-bottom: 10px;
    display: none;
}


@media (max-width: 768px) {
    .top-bar {
        flex-direction: column;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .logo-search {
        flex-direction: column;
        align-items: center;
    }

    .search-box {
        margin: 10px 0;
        width: 100%;
    }

    .main-nav ul {
        flex-direction: column;
        text-align: center;
    }

    .contact-form {
        border: 1px solid #ccc;
        border-radius: 10px;
        margin: 0 auto;
        background-color: #f9f9f9;
        width: 95%;
        max-width: none;
    }

    .contact-section {
        flex-direction: column;
        align-items: center;
    }

    .contact-info{
        box-shadow: none;
        padding-left: 5px;
        width: 95%;
         
    }

    .contact-info, .contact-form {
        width: 95%;
        margin: 0;
        position: relative;
        box-shadow: none;
        border: none;
        padding: 0;
        margin: 0;
    }

    .minibar{
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: -4px;
        right: 10px;
        gap: 20px;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .contact-form input[type="text"],
    .contact-form input[type="password"],
    .contact-form input[type="email"],
    .contact-form input[type="tel"],
    .contact-form textarea,
    .contact-form select {
        font-size: 12px;
    }

    .search-button, .security-code button, .form-footer button {
        padding: 8px 10px;
        font-size: 12px;
    }
}

@media (max-width: 425px) {
    body {
        font-size: 12px;
    }

    .top-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        background-color: #f8f9fa; /* Light background for better visibility */
    }

    .top-bar .flag {
        order: -1; /* Move the flag to the top */
        margin-bottom: 5px;
    }

    .top-bar .currency {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }

    .top-bar .currency .flag {
        margin-right: 5px; /* Add space between flag and currency */
    }

    .top-bar .nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .top-bar .nav-links a {
        margin: 5px 0;
    }

    .logo-search {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .search-box {
        margin: 5px 0;
        width: 90%;
        font-size: small;
    }

    .main-nav ul {
        padding: 0;
    }

    .contact-section {
        padding: 0;
        margin: 0;
        width: 95%;
    }

    .contact-form input[type="text"],
    .contact-form input[type="password"],
    .contact-form input[type="email"],
    .contact-form input[type="tel"],
    .contact-form textarea,
    .contact-form select {
        font-size: 10px;
        padding: 8px;
    }

    .search-button, .security-code button, .form-footer button {
        padding: 6px 8px;
        font-size: 10px;
    }
      
    .minibar{
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: -4px;
        right: 100px;
        gap: 20px;
        left:-6px;
    }
    
    .bayrak{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        top: 16px;
    }

    .musteri-hizmetleri{
        font-size: small;
        padding-left: 30px;
        position: relative;
        top: 55px;
    }
    .contact-info a{
      color: #e74c3c;
      text-decoration: none;
      font-size: x-small;  
       
    }

    .contact-form{
        padding: 10px;
        box-shadow: none;
        border:none;
        width: 95%; 
        
       
    }

    .contact-info{
        box-shadow: none;
        padding-left: 5px;
        width: 95%; 
    }
}

@media(max-width:320px){
    .minibar{
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: -21px;
        right: 100px;
        gap: 20px;
        left:-11px;
    }

    .musteri-hizmetleri{
        font-size: small;
        padding-left: 30px;
        position: relative;
        top: 55px;
        left:-7px
    }
}